#home{
    background-image: url("images/home.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#popular-recipe{
    background-image: url("images/popular-recipe.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#newsletter{
    background-image: url("images/newsletter-banner.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#head{
    background-image: url("images/home.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#caesar-salad-head{
    background-image: url("./images/caesar-salad.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#chicken-stir-fry-head{
    background-image: url("./images/chicken-stir-fry.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#ratatouille-head{
    background-image: url("./images/ratatouille.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#greek-mousakka-head{
    background-image: url("./images/greek-mousakka.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#chocolate-chip-cookies-head{
    background-image: url("./images/chocolate-chip-cookies.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#spaghetti-carbonara-head{
    background-image: url("./images/spaghetti-carbonara.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#chicken-parmesan-head{
    background-image: url("./images/chicken-parmesan.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#thai-green-curry-head{
    background-image: url("./images/thai-green-curry.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#margherita-pizza-head{
    background-image: url("./images/margherita-pizza.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
